{% extends 'base.html' %}

{% block content %}
<div class="airdrop-container">
    <div class="airdrop-icon">
        <img src="/static/images/coin.png" alt="Coin Icon">
    </div>

    <h1 class="airdrop-title">Product Coin</h1>
    <div class="airdrop-info">
        <p class="airdrop-label">Дата:</p>
        <p class="airdrop-value">TBA</p>
    </div>
        <p class="text">Условия</p>
    <div class="airdrop-block">
        <span class="label">Друзей:</span>
        <span class="value">Мин. 2, у вас 0</span>
    </div>

    <div class="airdrop-block">
        <span class="label">Product Coins:</span>
        <span class="value">Мин. 50000, у вас 0</span>
    </div>

    <div class="airdrop-block">
        <span class="label">Другое:</span>
        <span class="value">TBA</span>
    </div>
</div>
{% endblock %}
